# .gitignore
.vscode
.hydra

# cache
*.log
*.py[cod]
**/__pycache__/
**/.DS_Store
**/.ipynb_checkpoints
**/*.pytest_cache

# build
virne.egg-info/
dist
build

# save
outputs
results
save
running_log
old_save
pretrained
exp_data
exp_flag_vne_data
exp_srl_vne_data
benchmark

# docs
docs/build/
docs/source/_autosummary/
docs/source/generated/

# Large dataset CSV files
apresentacao/machine_learning/datasets/vnr_features.csv
apresentacao/machine_learning/datasets/waxman_16_raw_data.csv
vnr_aggregated_data.csv
